{% extends 'Med/main.html' %}
{% load static %}
{% block PHead %}
  MedC StaffSite<span class="icon-emo-happy"></span>
{% endblock %}
{% block Head2 %}
  <a href="{% url 'profile' %}">Profile Update</a>
{% endblock %}
{% block content %}
  <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Personal Information</h3>
          </div>
         <div class="card-body" style="max-height: 300px; overflow-y: auto;">
            <ul class="list-group list-group-flush">
              {% for appointment in appointments %}
                <li class="list-group-item">
                  <strong>Date:</strong> {{ appointment.appointment_date }}<br>
                  <strong>Time:</strong> {{ appointment.get_appointment_time_wanted_display }}<br>
                  <strong>Description:</strong> {{ appointment.description }}<br>
                    <strong>PAtient:</strong> {{ appointment.patient }}<br>
                  <strong>Doctor Appointed:</strong> {{ appointment.doctor_appointed }}<br>
                </li>
              {% empty %}
                <li class="list-group-item">No appointments found.</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}