{% extends 'Med/main.html' %}

{% block PHead %}
  MedC StaffSite<span class="icon-emo-happy"></span>
{% endblock %}

{% block Head2 %}
  <a href="{% url 'profile' %}">Profile Update</a>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for doc in docs %}
                <li class="list-group-item">
                  <a class="btn btn-secondary btn-sm mt-2 mb-2" href="{% url 'doc-detail' doc.id %}"><strong>Name:</strong> {{ doc.name }}</a><br>
                  <strong>Specialization:</strong> {{ doc.specialization }}<br>
                  <strong>Contact:</strong> {{ doc.contact_info }}<br>
                  <strong>Appointments:</strong> {{ doc.appointments }}<br>
                </li>
              {% empty %}
                <li class="list-group-item">No appointments found.</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
